@import './styles/pagination';
@import './styles/gists';
@import './styles/modal.css';

.app-content {
  display: flex;
  flex-direction: column;
  padding: 0 40px;
  min-height: calc(100vh - 55px);
}
.app-header {
  background-color: #319ac9;
  color: #fff;
  height: 55px;
}
.error-msg {
  text-align: center;
  font-size: 20px;  
}

header h2 {
  padding: 10px 30px;
  margin: 0;
}

.flex-center {
  display: flex;  
  align-items: center;
  justify-content: center;
}
.flex-grow {
  flex-grow: 1;
}
