@import './styles/pagination';
@import './styles/gists';
@import './styles/modal.css';

.app-content {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  min-height: calc(100vh - 30px);
}
.app-header {
  display: flex;
  align-items: center;
  background-color: #eee;
  height: 30px;
}
.error-msg {
  text-align: center;
  font-size: 20px;  
}

header p {
  font-weight: bold;
  padding: 10px 20px;
  margin: 0;
}

.flex-center {
  display: flex;  
  align-items: center;
  justify-content: center;
}
.flex-right {
  display: flex;  
  align-items: center;
  justify-content: flex-end;
}
.flex-grow {
  flex-grow: 1;
}
